extends layout

block content
  section(class="container")
    div(class="jumbotron text-center")
      h2 Your Room has just been reserved on Booking.com
      div
        a(href="/")
          button(class="btn btn-primary btn-lg top-wrapper") Explore Available Tours
          div
            img(src="/images/iamtheCODE-logo.png" class="top-wrapper")