extends layout

block content
  <!-- Landing Image -->
  header(id="search-wrapper")
    div(class="container")
      div(class="row")
        div(class="col-xs-12 col-md-8 col-md-offset-2 text-center")
          h1(class="super-title") Explore Experiences
          form(action="/explore" method="post")
            input(type="hidden" name="_csrf" value= csrfToken)
            input(class="form-control" type="text" name="location" placeholder="Enter any city in the world")
            input(class="btn btn-primary btn-lg top-wrapper" type="submit" value="Search")


  section(class="container")
    div(class="form-container")
      div(class="row")
        each t in tours
            div(class="col-lg-4 col-md-6 mb-4")
              div(class="card h-100")
                a(href=`/tour/${t._id}`)
                  img(class="card-img-top" src="images/photo1.jpeg" alt="")
                div(class="card-body")
                  h4(class="card-title")
                    a(href=`/tour/${t._id}`)= t.title
                  h5 $#{t.price}
                  p(class="card-text") #{t.summary}
                div(class="card-footer")
                  small(class="text-muted") &#9733; &#9733; &#9733; &#9733; &#9734;

      // Get more experiences from the DB
      div(class="view-experiences")
        a(href="#" class="btn btn-primary btn-lg") View more Experiences