extends layout

block content
  header
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          h1(class="super-title") Trans Culture
          a(href="/experiences" id="landing-button-experiences" class="btn btn-primary btn-lg landing-button")
            i(class="fa fa-users fa-lg" aria-hidden="true")
              span(class="landing-button-text") Book an Experience
          a(href="/tour-guide" id="landing-button-tour-guide" class="btn btn-primary btn-lg landing-button")
            i(class="fa fa-automobile fa-lg" aria-hidden="true")
              span(class="landing-button-text") Be a tour guide
          p(class="sub-text")
            span(class="sub-inner-text") Thousands of Local Experiences for your Happiness

  section(class="container")
    div(class="form-container")
      h2(class="section-title") Featured Experiences

      div(class="view-experiences")
        a(href="/explore" class="btn btn-lg btn-primary") Explore Experiences