extends layout

block content
  section(class="container")
    div(class="jumbotron text-center")
      h2 Your Tour has been reserved
        a(href="/explore" class="btn btn-primary btn-lg top-wrapper") Explore more Experiences