extends layout

include mixins/_jobInfo

block content
  section(class="container")
    div(class="form-container col-md-offset-2 col-md-8 col-xs-12")
      div(class="row")
        div(class="col-md-10 col-md-offset-1 col-xs-12")
          div(class="job-group")
            img(class="card-img-top" src="/images/photo0.jpeg" alt="")
            h1(class="text-uppercase") #{tour.title}
              h3(class="text-uppercase text-faded")
      +jobInfo('Summary', tour.summary)
      +jobInfo('Location', tour.location)
      +jobInfo('Price ($)', tour.price)
      +jobInfo('Available Date', tour.date)
      +jobInfo('Description', tour.fullDescription)
      div(class="row")
        div(class="col-md-10 col-md-offset-1 col-xs-12 .form-footer")
          a(href=`reserve/${tour._id}`)
            button(class="btn btn-primary btn-lg") Reserve and Pay Now