html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FEC200;
  color: #222;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

header {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: auto;
  padding: 150px 15px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #333;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  margin-top: 40px;
  text-align: center;
}

.landing-button {
  text-transform: uppercase;
  background-color: #1db6ef;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 20px
}

@media (min-width: 768px) {
  .landing-button {
      width: 250px;
  }

  #landing-button-tour-guide {
      margin-left: 15px;
  }

  #landing-button-experiences {
      margin-right: 15px;
  }
}

.landing-button-text {
  padding-left: 10px;
  padding-right: 10px;
}

.going {
  background-color: #23232c;
  color: #fff;
  padding: 50px;
  border-radius: 10px;
}

.super-title {
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.top-wrapper {
  margin-top: 20px;
}

#search-input, .data-button {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #FEC200;
}

#search-input {
  width: 80%;
}

@media(min-width: 800px){
  #search-input {
    width: 50%;
  }
}

#search-input:hover {
  border-color: #337ab7;
}

.data-button {
  margin-left: 20px;
  color: #333;
}

.form-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
  color: #333;
}

.fa {
  margin-right: 10px;
}

.icon-wrapper {
  color: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
}

.btn-bg-facebook {
  background-color: #507cc0;
}

.btn-bg-twitter {
  background-color: #1da1f2;
}

.btn-bg-google {
  background-color: #df4930;
}

.login-alt {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.account-type {
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.glyphicon-heart {
  color: #ff4500;
}

.sub-text {
  margin-top: 50px;
}

.sub-inner-text {
  text-transform: uppercase;
  font-weight: bold;
}

.view-experiences{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.form-header {
  margin-bottom: 50px;
}

.form-footer {
  margin-top: 30px;
}