html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FEBB02;
  color: #222;
  font-size: 18px;
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

header {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: auto;
  padding: 50px 15px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #333;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  margin-top: 40px;
  text-align: center;
}

.landing-button {
  text-transform: uppercase;
  background-color: #003580;
  color: white;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 20px
}

.landing-button:hover {
  background-color: #222;
  color: white;
}

.landing-button:active {
  background-color: #07c;;
  color: white;
}

@media (min-width: 768px) {
  .landing-button {
      width: 350px;
  }

  #landing-button-tour-guide {
      margin-left: 15px;
  }

  #landing-button-experiences {
      margin-right: 15px;
  }
}

.landing-button-text {
  padding-left: 10px;
  padding-right: 10px;
}

.super-title {
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 30px;
}

.top-wrapper {
  margin-top: 10px;
}

#search-input, .data-button {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #FEC200;
}

#search-input {
  width: 80%;
}

@media(min-width: 800px){
  #search-input {
    width: 50%;
  }
}

#search-input:hover {
  border-color: #337ab7;
}

.data-button {
  margin-left: 20px;
  color: #333;
}

.form-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
  color: #333;
}

.fa {
  margin-right: 10px;
}

.icon-wrapper {
  color: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
}

.btn-bg-facebook {
  background-color: #507cc0;
}

.btn-bg-twitter {
  background-color: #1da1f2;
}

.btn-bg-google {
  background-color: #df4930;
}

.login-alt {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.account-type {
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.glyphicon-heart {
  color: #ff4500;
}

.sub-text {
  margin-top: 50px;
}

.sub-inner-text {
  text-transform: uppercase;
  font-weight: bold;
}

.view-experiences{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 40px;
}

.form-header {
  margin-bottom: 50px;
}

.form-footer {
  margin-top: 30px;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}

.h-100 {
  height: 100%!important;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

img {
  vertical-align: middle;
  border-style: none;
}

h5 {
  font-size: 1.25rem;
}

.card-title {
  font-weight: bold;
  color: blue;
  margin-bottom: .75rem;
}

.h4, h4 {
  font-size: 1.5rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}

#search-wrapper {
  padding-bottom: 0;
  margin-bottom: 0;
}

.btn-primary {
  background-color: #07c;
}