html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FEC200;
  color: #222;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

header {
  text-align: center;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #333;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

footer {
  margin-top: 40px;
  text-align: center;
}

.going {
  background-color: #23232c;
  color: #fff;
  padding: 50px;
  border-radius: 10px;
}

.super-title {
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
}

.top-wrapper {
  margin-top: 20px;
}

#search-input, .data-button {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #FEC200;
}

#search-input {
  width: 80%;
}

@media(min-width: 800px){
  #search-input {
    width: 50%;
  }
}

#search-input:hover {
  border-color: #337ab7;
}

.data-button {
  margin-left: 20px;
  color: #333;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
  color: #333;
}

.fa {
  margin-right: 10px;
}

.icon-wrapper {
  color: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
}

.btn-bg-facebook {
  background-color: #507cc0;
}

.btn-bg-twitter {
  background-color: #1da1f2;
}

.btn-bg-google {
  background-color: #df4930;
}

.login-alt {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.account-type {
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.glyphicon-heart {
  color: #ff4500;
}