mixin jobInfo(key, data)
    div(class="row")
      div(class="col-md-10 col-md-offset-1 col-xs-12")
        div(class="job-group")
          h3(class="text-uppercase text-faded")
            strong #{key}
          p #{data}